---
import YU from "@components/YU.astro";
import { machineDate, readableDate } from "@lib/utils/dates";
const { post } = Astro.props;
---

<article>
 <iframe
  width="100%"
  height="340px"
  src={`https://www.youtube.com/embed/${post.videoId}?si=${post.channelId}`}
  title="YouTube"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  class="rounded-md"></iframe>

 <div class="flex flex-col gap-5 bg-white rounded-md p-5">
  <main>
   <h3 class="text-lg flex font-bold items-start gap-2">{post.title}</h3>
  </main>

  <footer>
   <div class="flex items-center justify-between">
    <time
     class="font-medium"
     datetime={machineDate(post.createdat)}
     set:text={readableDate(post.createdat)}
    />
    <a
     href={post.link}
     class="flex items-center gap-2 bg-gray-100/70 backdrop-blur-lg font-medium text-black py-1 px-3 rounded-md hover:bg-gray-200/70"
    >
     <YU />
     <span>Смотреть на <b>youtube</b></span>
    </a>
   </div>
  </footer>
 </div>
</article>
